
.outer-box {
    margin: 20px;
    border: 15px solid blue;
    background-color: #4A3BFF; /* outer blue/purple area */
    width: fit-content;
    padding: 50px;
}

.inner-box {
    background-color: lightblue;
    width: 300px;
    padding: 20px;
    border: 2px dashed black;
}

p {
    font-size: 16px;
}